{{ define "main" }}
<div class="sidebar-layout">
	<section class="sidebar-layout-main">

		<header class="project-header">
			{{ partial "components/title" . }}
			<p>{{ .Description | default .Summary }} </p>
		</header>
		<hr>

		<div class="project-list">

			<!-- grab all sections on this page -->
			{{ $sections := ( $.Site.GetPage "section" .Section ).Sections }}

			<ul>
				<!-- for each section -->
				{{ range .Pages.GroupBy "Section" }}

					<!-- render the parent section and projects that are pinned -->
					{{ $pinned := ( where .Pages.ByWeight "Params.pinned" true ) }}

					{{ range $pinned }}
						{{ if eq ( len .Pages ) 0 }}
								{{ if .Params.Pinned }}
									{{ partial "components/project-item" . }}
								{{ end }}
						{{ end }}
					{{ end }}
					
					<!-- for all subsections that isn't the parent -->
					<li>
						{{ range ( complement $pinned .Pages ) }}
							<ul>
								{{ if len .Pages }}
									<li class="project-subsection">
										<a href="{{ .Params.link | relURL }}">
											{{ partial "components/title" . }}
										</a>
									</li>
									<hr>
								{{ end }}

								{{ $pinned := ( where .Pages.ByWeight "Params.pinned" true ) }}
								{{ range $pinned }}
									{{ partial "components/project-item" . }}
								{{ end }}
							</ul>
						{{ end }}

				{{ end }}
			</ul>
		</div>

	</section>

	{{ if $.Site.Params.projects.enableSidebar }}
		<aside>
			{{ block "sidebar" . }}
			{{ end }}
		</aside>
	{{ end }}
</div>
{{ end }}
