{{ define "main" }}
 <div class="sidebar-layout">
	 <section class="sidebar-layout-main">
		 <div class="project-list">
			 <header class="project-header">
				 {{ partial "components/title" . }}
				 <p>{{ .Description }} </p>
			 </header>
			 <hr>

			 {{ $sections := ( $.Site.GetPage "section" .Section ).Sections }}

			 <ul>
				 {{ range .Pages.ByWeight }}
						{{ partial "components/project-item" . }}
				 {{ end }}
			 </ul>


			{{ if eq ( len (  where $sections "Title" .Title )) 0}}
				{{ range $sections }}
					{{ if ne .Title $.Title }}
						<ul>
							<li>
								<a href="{{ .Params.link | relURL }}">{{ partial "components/title" . }}</a>
							</li>

							<hr>
							{{ range .Pages.ByWeight }}
								{{ partial "components/project-item" . }}
							{{ end }}
						</ul>
					{{ end }}
				{{ end }}
			{{ end }}
		 </div>

	 </section>

	 <aside>
		 {{ block "sidebar" . }}
		 {{ end }}
	 </aside>
 </div>
{{ end }}
