{{ define "main" }}
<div class="sidebar-layout">
	{{ if $.Site.Params.projects.enableSidebar }}
		<aside class="sidebar">
			{{ partial "sidebar/sidebar-main" . }}
		</aside>
	{{ end }}

	<section class="sidebar-layout-main">

		<header class="project-header">
			{{ partial "components/title" . }}
			<p>{{ .Description | default .Summary }} </p>
		</header>
		<hr>

		<div class="project-list">

			<!-- grab all sections on this page -->
			{{ $sections := ( $.Site.GetPage "section" .Section ).Sections }}

			<ul class="project-section">
				<!-- for each section -->
				{{ range .Pages.GroupBy "Section" }}

					<!-- render the parent section and projects that are pinned -->
					{{ $pinned := ( where .Pages.ByWeight "Params.pinned" true ) }}

					<li>
						<ul class="{{ $.Site.Params.projects.listStyle }}">
							{{ range $pinned }}
								{{ if eq ( len .Pages ) 0 }}
									{{ if .Params.Pinned }}
										{{ partial "components/project-item" . }}
									{{ end }}
								{{ end }}
							{{ end }}
						</ul>
					</li>
					
					<!-- for all subsections that isn't the parent -->
					<li>
						{{ range ( complement $pinned .Pages ) }}
							<ul class="project-section">
								{{ if len .Pages }}
									<li class="project-subsection">
										<a href="{{ .Params.link | relURL }}">
											{{ partial "components/title" . }}
										</a>
									</li>
									<hr>
								{{ end }}

								<ul class="{{ $.Site.Params.projects.listStyle }}">
									{{ $pinned := ( where .Pages.ByWeight "Params.pinned" true ) }}
									{{ range $pinned }}
										{{ partial "components/project-item" . }}
									{{ end }}
								</ul>
							</ul>
						{{ end }}

				{{ end }}
			</ul>
		</div>
	</section>

</div>
{{ end }}
