{{ if $.Site.Params.pagination.enable }}
	{{ if ge .Paginator.TotalPages 2 }}
		{{ $currPageNum := .Paginator.PageNumber }}
		{{ $pageColor := $.Site.Params.pagination.pageColor | default "cyan" }}
		{{ $activePageColor := $.Site.Params.pagination.activePageColor | default "pink" }}
		{{ $pageURL :=  add  .RelPermalink ( string "page/" ) }}

		<div class="pagination">
			<div class="pagination-container">
				<a href="{{ .Paginator.First.URL }}" class="pagination-arrow" >
					<i class="fas fa-angle-double-left"></i>
				</a>

				{{ if .Paginator.HasPrev }}
					<a href="{{ .Paginator.Prev.URL }}" class="pagination-arrow" >
						<i class="fas fa-angle-double-left"></i>
					</a>
					{{ else }}
					<a href="#" class="pagination-arrow pagination-disabled">
						<i class="fas fa-angle-double-left"></i>
					</a>
				{{ end }}

					<span class="separator">...</span>

					<!-- previous page links -->
					{{ if .Paginator.HasPrev }}
					<a rel="prev "href="{{ .Paginator.Prev.URL }}" class="pagination-numbers {{ $pageColor }}">
							{{ sub $currPageNum 1 }}
						</a>
					{{ end }}

					{{ if and ( eq .Paginator.HasNext false ) ( gt ( sub $currPageNum 2 ) 0 ) }}
					<a rel="prev "href="{{$pageURL}}{{ sub $currPageNum 2 }}" class="pagination-numbers  {{ $pageColor }}">
							{{ sub $currPageNum 2 }}
						</a>
					{{ end }}

					<!-- active page -->
					<a href="{{ .URL }}" class="pagination-numbers pagination-active {{ $activePageColor }}">
						{{ $currPageNum }}
					</a>

					<!-- next page link -->
					{{ if .Paginator.HasNext }}
					<a rel="next "href="{{ .Paginator.Next.URL }}" class="pagination-numbers {{ $pageColor }}">
							{{ add $currPageNum 1 }}
						</a>
					{{ end }}

					{{ if and ( eq .Paginator.HasPrev false ) (lt ( add $currPageNum 2 ) ( add .Paginator.TotalPages 1 ))}}
					<a rel="prev "href="{{$pageURL}}{{ add $currPageNum 2 }}" class="pagination-numbers {{ $pageColor }}">
							{{ add $currPageNum 2 }}
						</a>
					{{ end }}

				<span class="separator">...</span>

				{{ if .Paginator.HasNext }}
					<a href="{{ .Paginator.Next.URL }}" class="pagination-arrow" >
						<i class="fas fa-angle-double-right"></i>
					</a>
					{{ else }}
					<a href="#" class="pagination-arrow pagination-disabled">
						<i class="fas fa-angle-double-right"></i>
					</a>
				{{ end }}
				<a href="{{ .Paginator.Last.URL }}"class="pagination-arrow"><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
	{{ end }}
{{ end }}
