<li class="project-item">
	<div class="bracket">
		<div class="bracket-left"></div>

		<div class="project-item-content">
			<a class="project-repo-name" href="{{ .Params.link | safeURL }}" target="_blank" >
				{{ partial "functions/get-title" . }}
			</a>

				<p class="project-description">{{ .Description }}</p>

				<div class="project-item-info">

					<span class="project-language">
						<i class="devicon-{{ .Params.language }}-plain colored"></i>
						{{ .Params.language }}
					</span>

					<a class="project-repo-link" href="{{ .Params.repo | safeURL }}" target="_blank">
						<i class="devicon-github-plain"></i>
						Repository
					</a>

				</div>
		</div>

		<div class="bracket-right"></div>

	</div>

</li>

