{{ if or .PrevInSection .NextInSection }}
<section class="single-navigation">
	<div>
		{{ with .PrevInSection }}
			<a class="previous" href="{{.Permalink}}">
				<i class="fas fa-angle-double-left single-navigation-arrow"></i>
				<span class="single-navigation-title">{{.Title}}</span>
				<i class="fas fa-angle-double-left single-navigation-arrow"></i>
			</a>
		{{ end }}
	</div>

	{{ with .NextInSection }}
		<a class="previous" href="{{.Permalink}}">
			<i class="fas fa-angle-double-right single-navigation-arrow"></i>
			<span class="single-navigation-title">{{.Title}}</span>
			<i class="fas fa-angle-double-right single-navigation-arrow"></i>
		</a>
	{{ end }}
</section>
{{ end }}

