{{ define "main" }}

	<div class="sidebar-layout">
		<section class="sidebar-layout-main">

			{{ $pages := .Pages.ByDate.Reverse }}
			{{ if $.Site.Params.pagination.enable }}
				{{ $pagNum := $.Site.Params.pagination.itemsPerPage | default 8 }}
				{{ $pages = (.Paginator $pagNum).Pages.ByDate.Reverse }}
			{{ end }}

			{{ range $pages }}
				<div class="list-item">
					<a href="{{ .Permalink }}" class="bracket capitalize list-item-title">
						<div class="bracket-left"></div>
						{{ .Title }}
						<div class="bracket-right"></div>
					</a>

					<div class="bracket list-item-subtitle">
						<div class="bracket-left"></div>
							<p class="list-item-author capitalize">
								{{ if .Params.Author }}
									{{ .Params.Author}}
								{{ else }}
									{{  .Site.Params.Author }}
								{{ end }}
							</p>
							<span class="list-item-separator separator">::</span>
						<p class="list-item-date">{{ .Date.Format "01-02-2006" }}</p>
						<div class="bracket-right"></div>
					</div>

					<summary class="list-item-content">
						{{ if .Description }}
							{{ .Description }}
						{{ else }}
							{{ if .Summary }}
								{{ .Summary | safeHTML }}
							{{ end }}
						{{ end }}
					</summary>

					{{ if .Truncated }}
					<a href="{{ .Permalink }}"class="list-item-read-more"><span>Read More >></span></a>
					{{ end }}
					<hr>
				</div>
			{{ end }}

			{{ if $.Site.Params.pagination.enable }}
			{{ partial "components/pagination" . }}
			{{ end }}
		</section>

		<aside>
			{{ block "sidebar" . }}
			{{ end }}
		</aside>

	</div>
{{ end }}
