{{ define "main" }}
	{{ $dateFormat := $.Site.Params.listDateFormat | default "01-02-2006" }}

	<div class="sidebar-layout">
		{{ if $.Site.Params.enableSidebar }}
			<aside id="sidebar">
				{{ partial "sidebar/sidebar-main" . }}
			</aside>
		{{ end }}

		<section class="sidebar-layout-main">

			<!-- figure out if pagination is needed -->
			{{ $pages := .Pages.ByDate.Reverse }}
			{{ if $.Site.Params.pagination.enable }}
				{{ $pageNum := $.Site.Params.pagination.itemsPerPage | default 8 }}
				{{ if le $pageNum 2 }}
					{{ $pageNum = 8 }}
				{{ end }}
				{{ $pages = (.Paginator $pageNum).Pages.ByDate.Reverse }}
			{{ end }}

			<header class="list-header">
				{{ partial "components/title" . }}
				<p>{{ .Description | default .Summary }} </p>
			</header>
			<hr>

			<div class="list-group">
				{{ range $pages }}
				<div class="list-item">
					<a href="{{ .Permalink }}" class="bracket capitalize list-item-title">
						<div class="bracket-left"></div>
						{{ partial "functions/get-title" . }}
						<div class="bracket-right"></div>
					</a>

					<div class="bracket list-item-subtitle">
						<div class="bracket-left"></div>
						<p class="list-item-author capitalize">
							<i class="fas fa-user"></i>
							{{ if .Params.Author }}
							{{ .Params.Author}}
							{{ else }}
							{{	.Site.Params.Author }}
							{{ end }}
						</p>
						{{ if .Date }}
							<span class="list-item-separator separator">::</span>
							<p class="list-item-date">
								<i class="fas fa-calendar-alt"></i>
								{{ .Date.Format $dateFormat }}
							</p>
						{{ end }}
							<span class="list-item-separator separator">::</span>
							<p class="list-item-read-time">
								<i class="fas fa-clock"></i>
								{{ .ReadingTime }} min read
							</p>
						<div class="bracket-right"></div>
					</div>

					<summary class="list-item-content md-content">
						{{ ( .Description | default .Summary ) | safeHTML }}
					</summary>

					<a href="{{ .Permalink }}"class="list-item-read-more"><span>Read More >></span></a>
					<hr>
				</div>
				{{ end }}
			</div>

			{{ if $.Site.Params.pagination.enable }}
				{{ partial "components/pagination" . }}
			{{ end }}
		</section>

	</div>
{{ end }}
