{{ define "main" }}
<article class="content">
	{{ partial "components/title" . .Title }}
	<div class="content-info">
		<p class="content-author capitalize">
			{{ if .Params.Author }}
			{{ .Params.Author}}
			{{ else }}
			{{  .Site.Params.Author }}
			{{ end }}
		</p>

		<span class="separator">::</span>
		<p class="content-date">{{ .Date.Format "01-02-2006" }}</p>

	</div>
	<div class="taxonomies">
		<ul>
			{{ with .Params.categories }}
			{{ range $value := . }}
			{{ $link := ( urlize ( printf "categories/%s" . )) | absURL }}
			<li>{{ partial "components/taxonomy-tag" ( dict "taxonomyName" "categories" "link" $link "name" $value)}}</li>
			{{ end }}
			{{ end }}

			{{ with .Params.series }}
			{{ range $value := . }}
			{{ $link := ( urlize ( printf "series/%s" . )) | absURL }}
			<li>{{ partial "components/taxonomy-tag" ( dict "taxonomyName" "series" "link" $link "name" $value)}}</li>
			{{ end }}
			{{ end }}

			{{ with .Params.tags }}
			{{ range $value := . }}
			{{ $link := ( urlize ( printf "tags/%s" . )) | absURL }}
			<li>{{ partial "components/taxonomy-tag" ( dict "taxonomyName" "tags" "link" $link "name" $value)}}</li>
			{{ end }}
			{{ end }}
		</ul>
	</div>

	<hr>
	{{ .Content }}

	{{ if $.Site.Params.enableTOC }}
	<aside>
	</aside>
	{{ end }}
</article>
{{ end }}
