{{ define "main" }}
	{{ $dateFormat := $.Site.Params.singleDateFormat | default "01-02-2006" }}

<div class="sidebar-layout">
	<article class="content sidebar-layout-main">
		{{ partial "components/title" . .Title }}

		<header class="content-info">
			<p class="content-author capitalize {{if eq .Date ""}}gray{{end}}">
				{{ if eq .Date ""}}
					<span class="red">Author: </span>
				{{ end }}
				{{ if .Params.Author }}
				{{ .Params.Author}}
				{{ else }}
				{{  .Site.Params.Author }}
				{{ end }}
			</p>
			{{ if .Date }}
				<span class="separator">::</span>
				<p class="content-date">{{ .Date.Format $dateFormat }}</p>
			{{ end }}
		</header>

		{{ if $.Site.Params.enableLastModified }}
			{{ with .Lastmod }}
			<div class="content-info">
				<p>
					Last modified<span class="separator">::</span>
					<p class="content-date">{{ .Format $dateFormat }}</p>
				</p>
			</div>
			{{ end }}
		{{ end }}
		<div class="taxonomies">
			<ul>
				{{ with .Params.categories }}
					{{ range $value := . }}
						{{ $link := ( urlize ( printf "categories/%s" . )) | absURL }}
						<li>{{ partial "components/taxonomy-tag" ( dict "taxonomyName" "categories" "link" $link "name" $value)}}</li>
					{{ end }}
				{{ end }}

				{{ with .Params.series }}
					{{ range $value := . }}
						{{ $link := ( urlize ( printf "series/%s" . )) | absURL }}
						<li>{{ partial "components/taxonomy-tag" ( dict "taxonomyName" "series" "link" $link "name" $value)}}</li>
					{{ end }}
				{{ end }}

				{{ with .Params.tags }}
					{{ range $value := . }}
						{{ $link := ( urlize ( printf "tags/%s" . )) | absURL }}
						<li>{{ partial "components/taxonomy-tag" ( dict "taxonomyName" "tags" "link" $link "name" $value)}}</li>
					{{ end }}
				{{ end }}
			</ul>
		</div>
		<hr>

		<section class="single-content">
			{{ .Content | safeHTML }}
		</section>

	</article>

	{{ if $.Site.Params.enableTOC }}
		<aside>
			{{ block "toc" . }}
			{{ end }}
		</aside>
	{{ end }}

</div>

	{{ partial "components/single-navigation" . }}

{{ end }}
