{{ define "main" }}
	<div class="sidebar-layout">
		<section class="sidebar-layout-main">
			<header class="archive-header">
				{{ partial "components/title" . }}
				<p>{{ .Description }} </p>
			</header>
				<hr>

			<div class="archive-list">
				<!-- filter out unwanted page types -->
				{{ $allowedPages := .Site.RegularPages }}
				{{ range .Site.Params.archive.pageTypeBlacklist }}
				{{ $allowedPages = ( where $allowedPages "Type" "!=" ( lower . ) ) }}
				{{ end }}

				<!-- group pages by their date and render -->
				{{ range $allowedPages.GroupByDate ( .Site.Params.archive.groupByDateFormat | default "01-2006" ) }}

					<ul class="archive-list-item">
						<li class="archive-date-box">
							<div class="bracket {{ with $.Site.Params.archive.color.groupDate }}{{ . }}{{ end }}">
								<div class="bracket-left"></div>
									{{ .Key }}
								<div class="bracket-right"></div>
							</div>

						</li>
						<ul class="archive-page-group">
							{{ range .Pages }}
							<li>
								<div class="archive-page-group-item">
									<div class="archive-page-info">
										<p 
											class="page-type {{ with .Site.Params.archive.color.type }}{{ . }}{{ end }}">{{ .Type }}</p>
										<p class="page-date {{ with .Site.Params.archive.color.publishDate }}{{ . }}{{ end }}">
											{{ .Date.Format ( .Site.Params.archive.publishDateFormat | default "Jan 02" )}}
										</p>
									</div>
									<a href="{{ .RelPermalink }}" class="page-title"><span>{{ partial "functions/get-title" . }}</span></a>
								</div>
							</li>
							{{ end }}
						</ul>
					</ul>
				{{ end }}
			</div>

		</section>

		{{ if $.Site.Params.archive.enableSidebar }}
			<aside>
				{{ block "sidebar" . }}
				{{ end }}
			</aside>
		{{ end }}

	</div>
{{ end }}
