.md-content {
	blockquote {
		background: $blockquote-background-color;
		border-left: $blockquote-border-size solid $blockquote-border-color;
		padding: 1rem 1rem;
		text-align: justify;
		margin: 0.5rem 0;
		align-self: center;
		max-width: 80%;
		min-width: 60%;
		
		p {
			text-indent: 0;
		}

		p > sup > a {
			color: $reference-text-color;
		}
	}
}
