.md-content {
	blockquote {
		@include align-self( center );

		background: $blockquote-background-color;
		border-left: $blockquote-border-size solid $blockquote-border-color;

		text-align: justify;
		padding: 1rem 1rem;
		margin: 0.5rem auto;
		max-width: 80%;
		min-width: 60%;
		
		p {
			text-indent: 0;
		}

		p > sup > a {
			color: $reference-text-color;
		}
	}
}
