.single-content {
	pre {
			padding: 0.5rem;
			margin: 0.5rem auto;
			width: 80%;
			background: $background-color-darker;
		code {
			white-space: pre-wrap;
			text-overflow: ellipsis;
			word-break: break-all;
		}
	}
}
