.md-content {
	.md-heading {
		@include flexbox();
		@include align-items( stretch );
		@include justify-content( flex-start );
		width: 100%;
		margin: 1rem 0;
		text-align: left;

		a {
			color: inherit !important;
		}

		i {
			margin: 0.2rem 0.6rem;
			color: $border-color;
			@include filter-brightness( 75% );
			display: none;
		}

		&:hover {
			a {
				text-decoration: none;
			}

			i {
				display: block;
			}
		}
	}

	h1, h2, h3, 
	h4, h5, h6 {
		margin: 0.2rem 0;
		text-align: left;
	}
}
