.md-content  {
	.md-image {
		width: 100%;
		margin: 0.5rem 0;
		justify-content: center;

		.md-image-main {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 70%;
		}

		.md-image-caption {
			text-align: center;
			border: $border-size-thin solid $border-color;
			width: 90%;
			color: $pink;
			background: $background-color-darker;
			padding: 0.2rem 0.5rem;
		}

		img {
			width: 100%;
			margin: 0.5rem 0;
		}
	}
}
