.md-content  {
	.md-image {
		width: 100%;
		margin: 0.5rem 0;
		@include flexbox();
		@include flex-direction();
		@include justify-content( center );

		.md-image-main {
			@include flexbox();
			@include flex-direction( column );
			@include align-items( center );
			width: 70%;
		}

		.md-image-caption {
			text-align: center;
			border: $border-size-thin solid $border-color;
			width: 90%;
			color: $pink;
			background: $background-color-darker;
			padding: 0.2rem 0.5rem;
			font-size: $base-font-size-small * 0.8;
		}

		img {
			width: 100%;
			margin: 0.5rem 0;
		}
	}
}
