.single-content, .list-item-content {
	a.md-link {
		color: $link-color;
		font-weight: bold;

		&:hover {
			color: $text-color;
			text-decoration: underline;
		}

		&:visited {
			color: $link-color;;
		}
	}

	p > a {
		color: $link-color;
		font-weight: bold;

		&:visited {
			color: $link-color;
		}
	}
}
