header.project-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		margin: 0.5rem 0;
		text-align: justify;
	}
}

.sidebar-layout-main {
	width: 100%;

}

div.project-list {
	width: 100%;

	ul.project-section {
		margin: 1.5rem 0;
	}

	ul {
		list-style-type: none;		
		margin: 1rem 0;


		li {
			margin: 0.4rem 0;

			ul {
				margin-top: 1rem;
			}

			.project-subsection {
				&:hover {
					background: $background-color-darker;
				}
			}
		}

		.project-item-content {
			width: 100%;
			padding: 0.5rem 0;
		}

		.project-language {
			text-transform: capitalize;
		}

		.project-repo-name {
			color: $cyan;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		.project-description {
			margin: 0.5rem 0;
			text-align: justify;
		}

		.project-item-info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 0.5rem;
			font-size: $base-font-size-small;

			.project-repo-link {
				color: $text-color;

				&:hover {
					color: $yellow;
				}

				i {
					color: $orange;
				}
			}
		}
	}
}

.project-item {

	// styles for box border style
	.box {
		border: $border-size-thin solid $border-color;
		padding: 0.2rem 0.8rem;
		display: flex;
	}
}

// styling for grid view
.project-list {
	ul.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-gap: 0.4rem 0.4rem;
		margin: 1.5rem 0;

		li {
			margin: 0;
			height: 100%;
			align-self: stretch;
			justify-self: stretch;
			display: inline-grid;
		}

		.project-repo-name {
			color: $cyan;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		.project-description {
			margin-top: 0.5rem;
			margin-bottom: 1rem;
			text-align: justify;
		}

		.project-item-content {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}

		.project-item-info {
			margin-top: auto;
		}
	}
}
