@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

html, body {
	height: 100%;
	width: 100%;
}

html {
	font-family: 'Fira Code', 'Source Code Pro', 'Lucida Console', monospace;
	background-color: $background-color;
	color: $text-color;
	font-size: $base-font-size;

	@include media( ">=phone", "<tablet" ) {
		font-size: $mobile-font-size;
	}
}

body {
	font-feature-settings: "liga";
	font-variant-ligatures: normal;
	min-height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, main, footer {
	@include flex-shrink( 0 );
}

main {
	@include flex-grow( 1 );

	@include media( ">desktop" ) {
		margin-top: 2.5rem;
	}

	@include media( "<desktop" ) {
		margin-top: 0;
	}
}

hr {
	border-color: $separator-color;
}

a {
	text-decoration: none;
}

.capitalize {
	text-transform: capitalize;
}

.separator {
	color: $separator-color;
}

.hidden {
	display: none;

	@include media( ">=phone", "<tablet" ) {
		display: flex;
	}
}

h1 { font-size: $h1-text-size;          color: $h1-color;   @include media( ">=phone", "<tablet" ) { font-size: $h1-mobile-text-size; }}
h2 { font-size: $h2-text-size;          color: $h2-color;   @include media( ">=phone", "<tablet" ) { font-size: $h2-mobile-text-size; }}
h3 { font-size: $h3-text-size;          color: $h3-color;   @include media( ">=phone", "<tablet" ) { font-size: $h3-mobile-text-size; }}
h4 { font-size: $h4-text-size;          color: $h4-color;   @include media( ">=phone", "<tablet" ) { font-size: $h4-mobile-text-size; }}
h5 { font-size: $h5-text-size;          color: $h5-color;   @include media( ">=phone", "<tablet" ) { font-size: $h5-mobile-text-size; }}
h6 { font-size: $h6-text-size;          color: $h6-color;   @include media( ">=phone", "<tablet" ) { font-size: $h6-mobile-text-size; }}
p  { font-size: $base-font-size-small;  color: $text-color; @include media( ">=phone", "<tablet" ) { font-size: $mobile-font-size-small; }}

.h1 { font-size: $h1-text-size;          color: $h1-color;   @include media( ">=phone", "<tablet" ) { font-size: $h1-mobile-text-size; }}
.h2 { font-size: $h2-text-size;          color: $h2-color;   @include media( ">=phone", "<tablet" ) { font-size: $h2-mobile-text-size; }}
.h3 { font-size: $h3-text-size;          color: $h3-color;   @include media( ">=phone", "<tablet" ) { font-size: $h3-mobile-text-size; }}
.h4 { font-size: $h4-text-size;          color: $h4-color;   @include media( ">=phone", "<tablet" ) { font-size: $h4-mobile-text-size; }}
.h5 { font-size: $h5-text-size;          color: $h5-color;   @include media( ">=phone", "<tablet" ) { font-size: $h5-mobile-text-size; }}
.h6 { font-size: $h6-text-size;          color: $h6-color;   @include media( ">=phone", "<tablet" ) { font-size: $h6-mobile-text-size; }}
.p  { font-size: $base-font-size-small;  color: $text-color; @include media( ">=phone", "<tablet" ) { font-size: $mobile-font-size-small; }}

.blue       {  color: $blue      !important;  }
.red        {  color: $red       !important;  }
.yellow     {  color: $yellow    !important;  }
.green      {  color: $green     !important;  }
.cyan       {  color: $cyan      !important;  }
.orange     {  color: $orange    !important;  }
.purple     {  color: $purple    !important;  }
.pink       {  color: $pink      !important;  }
.white      {  color: $white     !important;  }
.gray       {  color: $gray      !important;  }
.gray-dark  {  color: $gray-dark !important;  }

.border-blue      {  border-color: $blue      !important; }
.border-red       {  border-color: $red       !important; }
.border-yellow    {  border-color: $yellow    !important; }
.border-green     {  border-color: $green     !important; }
.border-cyan      {  border-color: $cyan      !important; }
.border-orange    {  border-color: $orange    !important; }
.border-purple    {  border-color: $purple    !important; }
.border-pink      {  border-color: $pink      !important; }
.border-white     {  border-color: $white     !important; }
.border-gray      {  border-color: $gray      !important; }
.border-gray-dark {  border-color: $gray-dark !important; }

// Flexbox
.fb-space-between { @include justify-content( space-between !important); }
.fb-stretch { @include justify-content( stretch ); }
