nav {
	margin: 0;
	background: $background-color;
	font-size: 1rem;

	&.navbar {
		@include flexbox();
		@include flex-direction();
		@include align-items( center );
		@include justify-content( space-between );


		// mobile view
		@include media( ">=phone", "<=desktop" ) {
			@include flex-direction( column );
			@include align-items( flex-start );
			margin-bottom: 1rem;
		}
	}

	.logo {
		margin-bottom: 0;
	}

	.mobile-nav {
		cursor: pointer;
	}

	#navbar-logo-link {
		color: $navbar-logo-color;
		white-space: nowrap;
	}

	a.media-toggle {
		display: none;
		@include flex-direction( column );
		@include justify-content( space-around );

		position: absolute;
		top: 1rem;
		right: 0.7rem;

		width: 1.8rem;
		height: 1.8rem;

		border: 2px solid $border-color;
		border-radius: 2px;
		padding: 0.2rem;
		margin: 0;

		// mobile view
		@include media( ">=phone", "<=desktop" ) {
			@include flexbox();
		}

		@include media( ">desktop" ) {
			top: 2rem;
			right: 1rem;
		}


		@include media( ">tablet", "<=desktop" ) {
			top: 2rem;
			right: 6.3rem;
		}
	}

	.media-toggle .bar {
		height: 2px;
		width: 100%;
		background-color: $navbar-media-bar-color;
		border-radius: 10px;
	}

	.media-toggle-active {
		@include flexbox();
	}
}

.nav-links {
	@include flexbox();
	@include flex-direction();
	@include justify-content( space-evenly );

	li {
		list-style: none;
		margin: 0 1px;

		a {
			color: $navbar-links-color;
		}

		&:hover {
			font-weight: bold;
		}
	}

	li+.nav-taxonomies {
		display: none;
		@include media( ">=phone", "<=desktop" ) {
			@include flexbox();
		}
	}

	// mobile view
	@include media( ">=phone", "<=desktop" ) {
		display: none;
		@include flex-direction( column );
		width: 100%;

		margin-top: 1rem;
		margin-bottom: 0.5rem;
		padding: 0.5rem;
		background-color: $background-color;

		border: $border-size-thin solid $border-color;

		li{
			margin: 0.2rem 0;
			text-align: center;
		}

		.bracket {
			@include justify-content( space-between );
		}
	}
}
