body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background: $scroll-track-color;
}

body::-webkit-scrollbar-thumb {
	background-color: lighten( $scroll-thumb-color, 10%);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
