div .sidebar {
	height: 100%;

	.bracket {
		@include justify-content( space-between );

		ul {
			@include flexbox();
			@include flex-direction( column );
		}
	}

	.sidebar-profile {
		font-size: $base-font-size-small;
		margin-top: 0.5rem;

		#profile-occupation {
			font-size: $base-font-size-big;
			color: $sidebar-occupation-color;
			margin-bottom: 0.4rem;
			font-weight: bold;
		}

		#profile-bio {
			color: $text-color;
			margin: 0.2rem 0;
			text-align: justify;
			font-size: $base-font-size-small;
		}

		.social-links {
			@include justify-content( space-evenly );
			li {
				margin: 0;
			}
		}

		ul {
			width: 100%;
			@include justify-content( flex-start );
			@include flex-flow( column );
			@include flex-direction( column );
			list-style: none;

			i {
				color: $text-color;
				margin-right: 0.4rem;
			}


			.sidebar-profile-about {
				margin-bottom: 0.4rem;

				li {
					margin: 0.2rem 0;
				}

				a {
					color: $sidebar-profile-link-color;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.taxonomies {
		@include sticky();
		top: 4rem;
	}

	.sidebar-taxonomy {
		margin: 0.5rem 0;

		a.bracket:hover {
			font-weight: bold;
		}

		.taxonomy-tags {
			@include flexbox();
			@include flex-flow( row wrap );
			@include flex-direction( row );
			@include justify-content( flex-start );
			margin: 0.2rem 0.4rem;

			.taxonomy-tag-container {
				margin: 0.2rem ;
			}
		}
	}

	.sidebar-info {
		li {
			list-style: none;
		}
	}

}
