.pagination {
	@include flexbox();
	@include flex-direction( row );
	@include justify-content( center );


	.pagination-container {
		max-width: 40%;
	}

	.pagination-numbers {
		color: $cyan;

		&:hover {
			color: $yellow !important;
		}
	}

	.pagination-arrow {
		color: $separator-color;
		&:hover {
			color: $yellow;
		}
	}

	li {
		list-style-type: none;
	}

	.pagination-disabled {
		color: $separator-color;
		pointer-events: none;

		&:hover {
			color: inherit;
		}
	}

	.pagination-active {
		color: $pink;
	}
}
