.single-navigation {
	border-top: $border-size-thin solid $border-color;
	border-bottom: $border-size-thin solid $border-color;
	margin: 0.5rem 0;
	padding: 0.5rem 0;
	justify-self: flex-end;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;

	.single-navigation-arrow {
		color: $separator-color !important;
	}

	a {
		padding: 0 0.5rem;
		max-width: 50%;

		&:hover {
			background: $background-color-darker;
		}
	}

	a.previous {
		color: $red;
		align-self: flex-start;
		text-align: left;
	}

	a.next {
		color: $green;
		align-self: flex-end;
		text-align: right;
	}
}
