div.social-links {
	@include flexbox();
	@include flex-direction( row );
	@include justify-content( center );
	margin: 0.5rem 0;
	max-width: 100%;

	li {
		list-style: none;
		margin: 0 1rem;
	}

	i:hover {
		filter: brightness( 75% );
	}

	@include media( ">=phone", "<tablet" ) {
		@include flex-wrap( wrap );
	}
}
