div.toc {
	position: -webkit-sticky;
	position: sticky;
	top: 4rem;
	padding: 0.8rem 0.4rem;
	background: $background-color-darker;
	border: 2px solid $border-color;

	#toc-title {
		@include justify-content( space-between );
		text-align: center;
	}

	nav {
		background: $background-color-darker;
		margin-top: 0.5rem;
		overflow-y: scroll;
		max-height: 65vh;

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $background-color;
		}

		ul, ol {
			list-style-type: none;
			font-size: $base-font-size-small * 0.9;
			margin-left: 0.2rem;

			// apply margin for all nested ul & ol
			ul, ol * {
				margin-left: 0.7rem;
			}

			li {
				text-align: left;
				margin-bottom: 0.1rem;
				word-wrap: break-word;
			}

			a {
				display: block;
				border-left: $border-size-thin solid $cyan;
				padding-left: 0.5rem;
				color: $text-color;
				&:hover {
					text-decoration: underline;
				}
			}

		}
	}

	.toc-active {
		color: $pink;
		border-color: $pink;
	}

	.toc-parent-active {
		color: $yellow;
		border-color: $yellow;
	}
}
