// Taxonomy colors
$taxonomy-categories-color: $orange !important;
$taxonomy-series-color: $purple !important;
$taxonomy-tags-color: $yellow !important;

.taxonomies {
	padding: 0 1rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;

	ul {
		@include flexbox();
		@include flex-direction( row );
		@include justify-content( center );
	}

	li {
		list-style: none;
		margin: 0 0.2rem;

		@include media( ">=phone", "<tablet" ) {
			margin-left: 2rem;
		}
	}
}

.taxonomy-tag {
	display: flex;
	flex-direction: row;
	border: 1px solid $border-color;
	border-radius: 2px;
	justify-content: center;
	align-items: center;
	font-size: $base-font-size-small;
	background: $background-color-darker;

	&:hover {
		a.taxonomy-tagname {
			color: $text-color;
		}
	}
}

span.taxonomy-tag-count {
	padding: 0.1rem 0.2rem;
	border-left: 1px solid $border-color;
	color: $text-color;
}

a.taxonomy-tagname {
	text-align: center;
	text-overflow: none;
	padding: 0.1rem 0.2rem;
	color: inherit;

	.taxonomy-hashtag {
		color: $border-color;
	}
}

.categories {
	color: $taxonomy-categories-color;

	&:hover {
		border-color: $taxonomy-categories-color;
		color: $text-color;
		
		.taxonomy-tag-count {
			border-color: $taxonomy-categories-color;
		}
	}
}

.series {
	color: $taxonomy-series-color;

	&:hover {
		border-color: $taxonomy-series-color;
		color: $text-color;

		.taxonomy-tag-count {
			border-color: $taxonomy-series-color;
		}
	}
}

.tags {
	color: $taxonomy-tags-color;

	&:hover {
		border-color: $taxonomy-tags-color;
		color: $text-color;

		.taxonomy-tag-count {
			border-color: $taxonomy-series-color;
		}
	}
}
