header.project-header {
	@include flexbox();
	@include flex-direction( column );
	@include align-items( center );

	@include media( ">=phone", "<=desktop" ) {
		margin-top: 1rem;
	}

	p {
		margin: 0.5rem 0;
		text-align: justify;
	}
}

.sidebar-layout-main {
	width: 100%;

}

div.project-list {
	width: 100%;

	ul.project-section {
		margin: 1.5rem 0;
	}

	ul {
		list-style-type: none;		
		margin: 1rem 0;


		li {
			margin: 0.4rem 0;

			ul {
				margin-top: 1rem;
			}

			.project-subsection {
				a {
					color: $list-item-title-color;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.project-item-content {
			width: 100%;
			padding: 0.5rem 0;
		}

		.project-language {
			text-transform: capitalize;
		}

		.project-repo-name {
			color: $project-repo-name-color;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		.project-description {
			margin: 0.5rem 0;
			text-align: justify;
		}

		.project-item-info {
			@include flexbox();
			@include flex-direction( row );
			@include justify-content( space-between );

			margin-top: 0.5rem;
			font-size: $base-font-size-small;

			.project-repo-link {
				color: $text-color;

				&:hover {
					color: $link-color;
				}

				i {
					color: $project-repo-icon-color;
				}
			}
		}
	}
}

.project-item {
	// styles for box border style
	.box {
		@include flexbox();
		border: $border-size-thin solid $border-color;
		padding: 0.2rem 0.8rem;
	}

	.round {
		@include flexbox();
		border-radius: 5px;
		border: $border-size-thin solid $border-color;
		padding: 0.2rem 0.8rem;
	}
}

// styling for grid view
.project-list {
	ul.grid {
		@include grid();
		@include grid-template-columns( 1fr 1fr );
		@include grid-template-rows( auto auto );
		grid-gap: 0.4rem 0.4rem;
		margin: 1.5rem 0;

		li {
			margin: 0;
			height: 100%;

			@include grid-align-self( stretch );
			@include grid-justify-self( stretch );
			display: inline-grid;
		}

		.project-repo-name {
			color: $project-repo-name-color;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		.project-description {
			margin-top: 0.5rem;
			margin-bottom: 1rem;
			text-align: justify;
		}

		.project-item-content {
			@include flexbox();
			@include flex-direction( column );
			@include justify-content( flex-start );
		}

		.project-item-info {
			margin-top: auto;
		}

		@include media( ">=phone", "<=desktop" ) {
			@include grid-template-columns( 1fr );
			@include grid-template-rows( 1fr );
		}
	}
}
