article.content {
	width: 100%;
	height: auto;
	@include flexbox();
	@include flex-direction( column );
	text-align: justify;

	hr {
		margin: 0.4rem 0;
	}

	.md-content {
		@include flexbox();
		@include flex-direction( column );
		min-height: 50vh;
		margin: 1rem 0;

		mark {
			background: $yellow;
			font-weight: bold;
			padding: 0 0.2rem;
			color: $background-color;
		}

		p {
			margin: 0.5rem;
			text-align: justify;
		}
	}

	.content-info {
		@include flexbox();
		@include flex-direction( row );
		@include justify-content( center );
		@include align-items( center );
	}

	.content-author {
		color: $red;
	}

	.content-date {
		color: $blue;
	}

	.content-read-time {
		color: $orange;
	}

	.taxonomies {
		padding: 0 1rem;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;

		ul {
			@include flexbox();
			@include flex-direction( row );
			@include justify-content( center );
		}

		li {
			list-style: none;
			margin: 0 0.2rem;
		}
	}
}
