article.content {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: justify;

	hr {
		margin: 0.4rem 0;
	}

	.single-content {
		display: flex;
		flex-direction: column;
		min-height: 50vh;
		margin: 1rem 0;

		mark {
			background: $yellow;
			font-weight: bold;
			padding: 0 0.2rem;
		}

		p {
			margin: 0.5rem;
			text-align: justify;
		}
	}

	.content-info {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.content-author {
		color: $red;
	}

	.content-date {
		color: $blue;
	}

	.content-read-time {
		color: $orange;
	}

	.taxonomies {
		padding: 0 1rem;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;

		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		li {
			list-style: none;
			margin: 0 0.2rem;
		}
	}
}
