article.content {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: justify;

	hr {
		margin: 0.4rem 0;
	}

	.single-content {
		display: flex;
		flex-direction: column;
		min-height: 50vh;
	}

	.content-info {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.content-author {
		color: $red;
	}

	.content-date {
		color: $blue;
	}

	.taxonomies {
		padding: 0 1rem;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;

		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		li {
			list-style: none;
			margin: 0 0.2rem;
		}
	}

	.single-content {
		p {
			margin: 0.5rem;
			text-align: justify;
		}
	}
}


div.content-container {
	display: flex;
	flex-flow: row;
	width: 100%;

	article {
		width: 75%;
		margin-right: 1rem;
	}

	aside {
		width: 25%;
	}
}
