.term-taxonomies {
	margin-top: 1.5rem;
}

.categories-title {
	h1 {
		color: $taxonomy-categories-color;
	}
}

.series-title {
	h1 {
		color: $taxonomy-series-color;
	}
}

.tags-title {
	h1 {
		color: $taxonomy-tags-color;
	}
}
