.sb-image {
	width: 100%;
	margin: 0;
	@include justify-content( center );

	.sb-image-main {
		@include flexbox();
		@include flex-direction( column );
		@include align-items( center );
		width: 100%;
	}

	img {
		width: 100%;
		margin: 0.5rem 0;
	}
}
