.post-info {
	@include flexbox();
	@include flex-direction( row );
	@include justify-content( center );
	@include align-items( center );

	i {
		color: $text-color;
	}
}

.post-info-author {
	color: $post-author-color;
}

.post-info-date {
	color: $post-date-color;
}

.post-info-read-time {
	color: $post-time-color;
}

.post-info-separator {
	margin: 0 0.2rem;
}
