.pagination {
	@include flexbox();
	@include flex-direction( row );
	@include justify-content( center );

	.pagination-container {
		max-width: 50%;

		@include media( ">=phone", "<tablet" ) {
			max-width: 100%;
		}
	}

	.pagination-numbers {
		color: $pagination-numbers-color;

		&:hover {
			color: $link-color !important;
		}
	}

	.pagination-arrow {
		color: $pagination-arrow-color;
		&:hover {
			color: $yellow;
		}
	}

	li {
		list-style-type: none;
	}

	.pagination-disabled {
		color: $pagination-arrow-disabled-color;
		pointer-events: none;

		&:hover {
			color: inherit;
		}
	}

	.pagination-active {
		color: $pagination-active-color;
	}
}
