.sidebar-layout {
	@include flexbox();
	@include flex-flow( row-reverse );
	width: 100%;

	.sidebar-layout-main {
		min-width: 65%;
	}

	aside {
		min-width: 24%;
		max-width: 24%;
		margin-left: 0.5rem;
	}

	@include media( ">=phone", "<=desktop" ) {
		@include flex-flow( column );

		aside {
			width: 100%;
			max-width: 100%;
			margin: 0;
			margin-bottom: 1rem;

			&#sidebar {
				display: none;
			}
		}
	}
}
