.single-navigation {
	border-top: $border-size-thin solid $border-color;
	border-bottom: $border-size-thin solid $border-color;
	margin: 0.5rem 0;
	padding: 0.5rem 0;
	justify-self: flex-end;

	display: flex;
	@include flex-direction( row );
	@include justify-content( space-between );
	width: 100%;

	@include media( ">=phone", "<tablet" ) {
		@include flex-direction( column );
	}

	.single-navigation-arrow {
		color: $nav-arrow-color !important;
	}

	a {
		padding: 0 0.5rem;
		max-width: 50%;

		&:hover {
			font-weight: bold;
		}

		@include media( ">=phone", "<tablet" ) {
			@include flexbox();
			@include flex-direction( row );
			@include justify-content( space-between );
			@include align-items( center );

			max-width: 100%;
			width: 100%;
			text-align: center !important;
			padding: 0.5rem;
		}
	}

	a.previous {
		color: $nav-prev-color;
		@include align-self( flex-start );
		text-align: left;
	}

	a.next {
		color: $nav-next-color;
		@include align-self( flex-end );
		text-align: right;
	}
}
