aside > div.tree-view {
	@include flexbox();
	@include flex-direction( column );

	@include media( ">tablet" ) {
		@include sticky();
		top: 4rem;
	}

	max-height: 65vh;

	padding: 0.8rem 0.4rem;
	background: $background-color-darker;
	border: $border-size-thin solid $border-color;
	border-radius: 5px;
	font-size: $base-font-size-small;


	ul, ol {
		list-style-type: none;
		font-size: $base-font-size-small * 0.9;
		margin-left: 0.2rem;

		// apply margin for all nested ul & ol
		ul, ol * {
			margin-left: 0.7rem;
		}

		li {
			text-align: left;
			margin-bottom: 0.1rem;
			word-wrap: break-word;
		}

		a {
			display: block;
			border-left: $border-size-thin solid $cyan;
			padding-left: 0.5rem;
			color: $text-color;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.tv-active {
		color: $tv-active-color;
		border-color: $tv-active-color;
	}

	.tv-active-root {
		color: $tv-active-root-color;
		border-color: $tv-active-root-color;
	}

	.tree-header {
		@include justify-content( space-between );
		text-align: center;
	}

	.tree-list {
		overflow-y: scroll;
		margin-top: 0.5rem;
		@include scrollbar();
	}
}
