{{ define "main" }}
	{{ $dateFormat := $.Site.Params.listDateFormat | default "01-02-2006" }}

	<div class="sidebar-layout">
		{{ if $.Site.Params.enableSidebar }}
			<aside id="sidebar">
				{{ partial "sidebar/sidebar-main" . }}
			</aside>
		{{ end }}

		<section class="sidebar-layout-main">
			{{ $pages := "" }}

			<!-- pagination is enabled -->
			{{ if $.Site.Params.pagination.enable }}

				<!-- paginate homepage -->
				{{ if ( eq .Title ( $.Site.Params.logoText | default .Site.Title )) }}
					{{ $pages = (.Paginate ( where $.Site.RegularPages.ByDate.Reverse "Type" "in" $.Site.Params.mainSections )).Pages }}
				{{ else }}

					<!-- paginate sections -->
					{{ if in $.Site.Params .Section }}
						{{ $pages = ( .Paginate ( where .Pages.ByDate.Reverse "Section" .Section )).Pages }}
					{{ else }}
						<!-- paginate taxonomy pages -->
						{{ $pages = .Pages.ByDate.Reverse }}
					{{ end }}
				{{ end }}

			{{ else }}
				<!-- no pagination, homepage pages -->
				{{ if ( eq .Title ( $.Site.Params.logoText | default .Site.Title ) ) }}
					{{ $pages = ( where $.Site.RegularPages.ByDate.Reverse "Type" "in" $.Site.Params.mainSections ) }}
				{{ else }}
					{{ $pages = .Pages.ByDate.Reverse }}
				{{ end }}
			{{ end }}


			<header class="list-header">
				{{ partial "components/title" . }}
				<p>{{ .Description | default .Summary }} </p>
			</header>
			<hr>

			<div class="list-group">
				{{ range $pages }}
				<div class="list-item">
					<a href="{{ .Permalink }}" class="bracket capitalize list-item-title">
						<div class="bracket-left"></div>
						{{ partial "functions/get-title" . }}
						<div class="bracket-right"></div>
					</a>

					<div class="bracket list-item-subtitle">
						<div class="bracket-left"></div>
						{{ partial "components/post-info" . }}
						<div class="bracket-right"></div>
					</div>

					<summary class="list-item-content md-content">
						{{ ( .Description | default .Summary ) | safeHTML }}
					</summary>

					<a href="{{ .Permalink }}"class="list-item-read-more"><span>Read More >></span></a>
					<hr>
				</div>
				{{ end }}
			</div>

			{{ if $.Site.Params.pagination.enable }}
				{{ partial "components/pagination" . }}
			{{ end }}
		</section>

	</div>
{{ end }}
