<header aria-role="header">
	<nav class="navbar">

		<div class="logo bracket">
			<div class="bracket-left"></div>
			<a 
				class="{{ with $.Site.Params.LogoColor }}{{ . }}{{ end }}"
				id="navbar-logo-link"
				href="{{ if $.Site.Params.LogoHomeLink }}{{ $.Site.Params.LogoHomeLink }}{{ else }}{{ $.Site.BaseURL }}{{ end }}"
			>
			{{ with $.Site.Params.LogoText }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}
			</a>
				<div class="bracket-right"></div>
		</div>

		<a href="#" class="media-toggle">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>

		<ul class="nav-links">
			{{ if len $.Site.Menus }}
				{{ range $.Site.Menus.main }}
				<li class="bracket">
					<div class="bracket-left"></div>
					<a class="{{ .Pre }}" href="{{ .URL }}">{{ .Name }}</a>
					<div class="bracket-right"></div>
				</li>
				{{ end }}
			{{ end }}
			{{ range $name, $taxonomy := .Site.Taxonomies }}
				<li class="bracket hidden">
					<div class="bracket-left"></div>
					<a class="{{ $name }}" href="{{ $name | absURL }}">{{ $name }}</a>
					<div class="bracket-right"></div>
				</li>
			{{ end }}
		</ul>

	</nav>
</header>
