{{ define "sidebar" }}

<div class="sidebar">
	<div class="bracket sidebar-title">
		<div class="bracket-left"></div>
			{{ .Site.Title }}
		<div class="bracket-right"></div>
	</div>

	<!-- photo -->

	<!-- profile -->
	<div class="bracket sidebar-profile">
		<div class="bracket-left"></div>
			<ul>
				{{ with $.Site.Params.Profile.occupation }}
					<li class="capitalize" id="profile-occupation">{{ . }}</li>
				{{ end }}

				<div class="sidebar-profile-about">
					{{ with $.Site.Params.Profile.name }}
					<li class="capitalize"><i class="far fa-user-circle"></i>{{ . }}</li>
					{{ end }}
					{{ with $.Site.Params.Profile.location }}
					<li class="capitalize"><i class="far fa-dot-circle"></i>{{ . }}</li>
					{{ end }}
					{{ with $.Site.Params.Profile.email }}
					<li><a href="mailto:{{ . }}"><i class="fas fa-envelope"></i>{{ . }}</a></li>
					{{ end }}
					{{ with $.Site.Params.Profile.website }}
					<li><a href="{{ . }}" target="_blank"><i class="fas fa-link"></i>{{ . }}</a></li>
					{{ else }}
						{{ $url := urls.Parse $.Site.BaseURL }}
						<li><a href="{{ $.Site.BaseURL }}"><i class="fas fa-link"></i>{{ $url.Host }}</a></li>
					{{ end }}
					{{ if le ( len $.Site.Params.Profile.bio ) 200 }}
						<li id="profile-bio">{{ $.Site.Params.Profile.bio }}</li>
					{{ end }}
				</div>

				<div class="sidebar-profile-links">
					{{ range $key, $value := $.Site.Params.Profile.Links }}
					<li>
						<a 
							href="{{ $value.link }}" 
							target="_blank">
							<i class="fab fa-lg fa-{{ if eq $key "github" }}{{ "github-alt" }}{{ else }}{{ $key }}{{end}}">
							</i>
						</a>
					</li>
					{{ end }}
				</div>

			</ul>
		<div class="bracket-right"></div>
	</div>

	<!-- taxonomies -->
	{{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
		{{ if $taxonomy }}
			<div class="sidebar-taxonomy {{ $taxonomyName }}">
				<div class="bracket">
					<div class="bracket-left"></div>
						{{ $taxonomyName | upper }}
					<div class="bracket-right"></div>
				</div>
				
				<div class="taxonomies">
					{{ range $key, $value := $taxonomy }}
						{{ $taxonomyStyles := "taxonomy-tags" }}
						{{ partial "components/taxonomy-tag" ( dict "taxonomyName" $taxonomyName "styles" $taxonomyStyles "link" $value.Page.RelPermalink "name" $key)}}
					{{ end  }}
				</div>

			</div>
			{{ end }}
	{{ end }}
</div>

{{ end }}
