.md-content {
	section.footnotes {
		ol {
			@include flexbox();
			@include flex-direction( column );

			max-width: 85%;
			margin: 0.5rem auto;
			padding: 0 0.5rem;
			list-style-position: outside;
			text-align: justify;
		}

		a.footnote-backref {
			color: $link-color;
		}
	}
}
