.md-content {
	.md-heading {
		@include flexbox();
		@include align-items( stretch );
		@include justify-content( flex-start );
		width: 100%;
		margin: 1rem 0;
		text-align: left;

		@include media( ">=phone", "<tablet" ) {
			margin: 0.4rem 0;
		}

		a {
			color: inherit !important;
			&:hover {
					text-decoration: underline;
			}
		}

	}

	h1, h2, h3, 
	h4, h5, h6 {
		margin: 0.2rem 0;
		text-align: left;

		@include media( ">=phone", "<tablet" ) {
			text-align: center;
		}
	}
}
