.md-content {
	a {
		color: $link-color;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}

		&:visited, &:active {
			color: $link-color;
		}
	}

	a.md-link {
		color: $link-color;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}

		&:visited, &:active {
			color: $link-color;
		}
	}
}
