<header aria-role="header">
	<nav class="navbar">

		<div class="logo bracket">
			<div class="bracket-left"></div>
			<a 
				class="{{ with $.Site.Params.TitleColor }}{{ . }}{{ end }}"
				id="navbar-logo-link"
				href="{{ $.Site.BaseURL }}"
			>
				{{.Site.Title}}
			</a>
				<div class="bracket-right"></div>
		</div>

		<a href="#" class="media-toggle">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>

		<ul class="nav-links">
			{{ if len $.Site.Menus }}
				{{ range $.Site.Menus.main }}
				<li class="bracket">
					<div class="bracket-left"></div>
					<a class="{{ .Pre }}" href="{{ .URL }}">{{ .Name }}</a>
					<div class="bracket-right"></div>
				</li>
				{{ end }}
			{{ end }}

				<!-- taxonomies -->
			{{ range $name, $taxonomy := .Site.Taxonomies }}
				{{ if gt (len $taxonomy) 0 }}
				<li class="nav-taxonomies bracket">
					<div class="bracket-left"></div>
					<a class="{{ $name }}" href="{{ $name | absURL }}">{{ $name }}</a>
					<div class="bracket-right"></div>
				</li>
				{{ end }}
			{{ end }}
		</ul>

	</nav>
</header>
