header.archive-header {
	@include flexbox();
	@include flex-direction( column );
	@include align-items( center );

	p {
		margin: 0.5rem 0;
		text-align: justify;
	}
}

.archive-list {
	margin: 1rem;

	@include media( ">=phone", "<tablet" ) {
		margin: 1rem 0;
	}

	ul, li {
		list-style-type: none;
	}

	.archive-list-item {
		margin: 2rem 0;

		@include media( ">=phone", "<tablet" ) {
			margin: 1rem 0;
		}
	}

	.archive-date-box {
		width: 8rem;
		color: $pink;
		.bracket {
			@include justify-content( space-between );
		}


		@include media( ">=phone", "<tablet" ) {
			width: 100%;
		}
	}

	.archive-page-group {
		@include flexbox();
		@include flex-direction( column );
		@include justify-content( space-around );
		font-size: $base-font-size-small;
		margin: 0 auto;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: calc( 8rem / 2 );
			width: $border-size-thick;
			height: 100%;
			background: $border-color;

			@include media( ">=phone", "<tablet" ) {
				display: none;
			}
		}

		.archive-page-group-item {
			@include flexbox();
			@include flex-direction( row );
			@include justify-content( flex-start );
			@include align-items( flex-start );
			margin: 0.1rem;
			margin-left: 5rem;
			text-align: left;

			@include media( ">=phone", "<tablet" ) {
				margin-left: 0.5rem;
				margin-top: 0.5rem;
				@include flex-direction( column );
			}

			.page-title {
				min-width: 50%;
				padding: 0.2rem 0; 

				a {
					color: $text-color;

					&:hover {
						text-decoration: underline;
					}
				}

				@include media( ">=phone", "<tablet" ) {
					font-size: $mobile-font-size;
					margin: 0.2rem 1rem 0.2rem 1.5rem;
					max-width: 100%;
					text-align: justify;
				}

			}

			.archive-page-info {
				max-width: 25%; 
				min-width: 10%;
				background: $background-color-darker;
				border-radius: 2px;

				@include flexbox();
				@include flex-direction( row );
				@include flex-wrap( wrap );
				@include align-items( center );
				justify-content: center;

				margin-left: 0.2rem;
				margin-right: 0.6rem;
				padding: 0.2rem 0.4rem;

				overflow: hidden;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;

				@include media ( ">=phone", "<tablet" ) {
					max-width: 100%;
					min-width: 25%;
				}
			}
		}
	}
}

.page-type {
	color: $blue;
	margin-right: 0.7rem;
	font-size: $base-font-size-small * 0.8;
}

.page-date {
	color: $yellow;
	font-size: $base-font-size-small * 0.8;
}

.archive-active {
	color: $pink;
	border-color: $pink;
}

.archive-parent-active {
	color: $yellow;
	border-color: $yellow;
}

aside#archive-dates {
	@include media( ">=phone", "<tablet" ) {
		margin-top: 1rem;
	}
}
