{{ define "main" }}

	<!-- filter out unwanted page types -->
	{{ $allowedPages := .Site.RegularPages }}
	{{ range .Site.Params.archive.pageTypeBlacklist }}
		{{ $allowedPages = ( where $allowedPages "Type" "!=" ( lower . ) ) }}
	{{ end }}

	<div class="sidebar-layout">

		{{ if and $.Site.Params.archive.enableSidebar $.Site.Params.enableSidebar }}
			<aside id="archive-dates">
				{{ partial "sidebar/sidebar-archive" ( dict "pages" $allowedPages ) }}
			</aside>
		{{ end }}

		<section class="sidebar-layout-main">
			<header class="archive-header">
				{{ partial "components/title" . }}
				<p>{{ .Description | default .Summary }} </p>
			</header>
				<hr>

			<div class="archive-list">

				<!-- group pages by their date and render -->
				{{ $groupedPages :=  $allowedPages.GroupByDate "2006" }}
				{{ range $groupedPages }}

				{{ $year := .Key }}
				{{ if eq .Key "0001" }}
					{{ $year = "N/A" }}
				{{ end }}

					<ul class="archive-list-item">
						<li class="archive-date-box" id="{{ $year }}">
							<div class="bracket">
								<div class="bracket-left"></div>
									<h3 class="{{ with $.Site.Params.archive.color.groupDate }}{{ . }}{{ end }}">{{ $year }}</h3>
								<div class="bracket-right"></div>
							</div>

						</li>
						<ul class="archive-page-group">
							{{ range .Pages }}
							<li id="{{ .Date.Format "2006" }}-{{ .Date.Format "January" }}">
								<div class="archive-page-group-item">
									<div class="archive-page-info">
										<p class="page-type {{ with .Site.Params.archive.color.type }}{{ . }}{{ end }}">
											{{ .Type }}
										</p>
										<p class="page-date {{ with .Site.Params.archive.color.publishDate }}{{ . }}{{ end }}">
											{{ .Date.Format ( .Site.Params.archive.publishDateFormat | default "Jan 02" )}}
										</p>
									</div>
									<p class="page-title"><a href="{{ .RelPermalink }}" >{{ partial "functions/get-title" . }}</a></p>
								</div>
							</li>
							{{ end }}
						</ul>
					</ul>
				{{ end }}
			</div>

		</section>
	</div>

	{{ if and $.Site.Params.archive.enableSidebar $.Site.Params.enableSidebar }}
		{{ partial "scripts/tree-view-script" ( dict "sidebarId" "archive-date-list" ) }}
	{{ end }}

{{ end }}
