<script>
	const SIDEBAR_ID = '#' + JSON.parse( {{ .sidebarId |jsonify }} );
	const ACTIVE_CLASS = 'tv-active';
	const ACTIVE_PARENT_CLASS = 'tv-active-root';
	const PARENT_CLASS = 'tv-parent-heading';

	// grab all nested headings and hide them;
	function collapseHeading( target ) {
		if ( target.querySelectorAll( 'ul' ) ) {
			target.querySelectorAll( 'ul' ).forEach( ( ul ) => {
				ul.style.display = 'none';
			});
		}
	}

	function expandHeadings( target ) {
		if ( target.querySelectorAll( 'ul' ) ) {
			target.querySelectorAll( 'ul' ).forEach( ul => {
				ul.style.display = 'block';
			});
		}
	}

	function getParentElementByClass( element, className ) {
		return ( element.parentElement.classList.contains( className ) ) 
			? element.parentElement 
			: getParentElementByClass( element.parentElement, className );
	}

	let treeElem = document.querySelector( SIDEBAR_ID );
	let currElem = null;

	if ( treeElem ) {

		// collapse all nested headings
		let headings = treeElem.querySelectorAll( 'ul' );
		headings.forEach( ( element ) => collapseHeading( element ) )

		// add a class to all top-level headings
		let treeChildren = treeElem.children;
		for( let i = 0; i < treeChildren.length; i++ ) {
			let li = treeChildren[ i ].children;
			for ( let k = 0; k < li.length; k++ ) {
				li[ k ].classList.add( PARENT_CLASS );
			}
		}

		// add event listeners to all heading links
		let headingLinks = treeElem.querySelectorAll( 'a' );
		if ( headingLinks.length > 0 ) {
			headingLinks.forEach( ( a ) => {
				a.addEventListener( 'click', () => {
					let currParent = getParentElementByClass( a, PARENT_CLASS );

					if ( currElem ) {
						let willCollapse = true;
						let prevParent = getParentElementByClass( currElem, PARENT_CLASS );

						if (  currParent == prevParent ) {
							willCollapse = false;
						}

						if ( willCollapse ) {
							collapseHeading( prevParent );
						}
					}

					// remove previous active headings
					headingLinks.forEach( ( elem ) => {
						elem.classList.remove( ACTIVE_CLASS );
						elem.classList.remove( ACTIVE_PARENT_CLASS );
					});

					// mark the current and parent heading as active
					if ( currElem ) {
						let link = currParent.querySelector( 'a' );
						if ( a != link ) {
							link.classList.add( ACTIVE_PARENT_CLASS );
						}
					}
					a.classList.add( ACTIVE_CLASS );

					// display nested headings
					let id = a.getAttribute('href');
					currElem = treeElem.querySelector('[href="' + id + '"]');

					if ( currElem ) {
						expandHeadings( currElem.parentElement );
					}
				});
			});
		}
	}
</script>
