header.list-header {
	@include flexbox();
	@include flex-direction( column );
	@include align-items( center );

	p {
		margin: 0.5rem 0;
		text-align: justify;
	}

}

.list-header {
	@include media( ">=phone", "<tablet" ) {
		margin-top: 1rem;
	}
}

.list-item-title {
	@include flexbox();
	@include justify-content( space-between );
	color: $list-item-title-color;

	&:hover {
		font-weight: bold;
	}

	@include media( ">=phone", "<tablet" ) {
		overflow-wrap: break-all;
		word-wrap: break-all;
		word-break: break-all;

		-ms-word-break: break-all;

		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
}

.list-group {
	margin-top: 2rem;
}

.list-item {
	width: 100%;
	@include flexbox();
	@include flex-flow( column );

	.list-item-title {
		font-weight: 600;
	}

	.list-item-subtitle {
		font-size: 0.8rem;
		@include align-items( center );
	}

	.list-item-content {
		width: 100%;
		font-size: $base-font-size-small;
		text-align: justify;
		padding: 0.2rem 1rem;
	}

	.list-item-read-more {
		margin-left: 1rem;
		margin-top: 0.5rem;
		color: $text-color;
		font-size: $base-font-size-small;
		font-weight: bold;

		span:hover {
			color: $link-color;
		}
	}

	hr {
		margin: 1rem 0;
	}
}
