article.content {
	width: 100%;
	height: auto;
	@include flexbox();
	@include flex-direction( column );
	text-align: justify;

	hr {
		margin: 0.4rem 0;
	}

	.md-content {
		@include flexbox();
		@include flex-direction( column );
		min-height: 50vh;
		margin: 1rem 0;

		mark {
			background: $link-color;
			padding: 0 0.2rem;
			color: $background-color;
		}

		p {
			margin: 0.5rem;
			text-align: justify;
			overflow-wrap: break-word;	
			word-wrap: break-word;

			@include media( ">=phone", "<=desktop" ) {
				margin-left: 0;
				margin-right: 0;
				text-align: left;
			}
		}
	}
}
