.term-taxonomies {
	margin-top: 1.5rem;
}

header.terms-title {
	margin-bottom: 1rem;

	@include media( ">=phone", "<tablet" ) {
		margin-top: 1rem;
	}
}

.categories-title {
	h1 {
		color: $taxonomy-categories-color !important;
	}
}

.series-title {
	h1 {
		color: $taxonomy-series-color !important;
	}
}

.tags-title {
	h1 {
		color: $taxonomy-tags-color !important;
	}
}
