@mixin bracket-border {
	border-top: $border-size-thin solid $border-color;
	border-bottom: $border-size-thin solid $border-color;
	min-height: $base-font-size;
	min-width: $border-size-thick * 1.5;
}

.bracket {
	@include flexbox();
	@include align-items( stretch );
	@include align-content( center );
	margin-bottom: 0.3rem;
}

.bracket-left {
	@include bracket-border;
	border-left: $border-size-thin solid $border-color;
	margin-right: 1rem;
}

.bracket-right {
	@include bracket-border;
	border-right: $border-size-thin solid $border-color;
	margin-left: 1rem;
}

