footer {
	@include flexbox();
	@include flex-direction( column );
	font-size: $base-font-size-small;
	margin-top: 3rem;

	.footer-container {
		@include flexbox();
		@include flex-direction( column );
		@include justify-content( center );
		@include align-content( center );
		width: 100%;

		.footer-line {
			@include flexbox();
			@include flex-direction( row );
			@include justify-content( space-between );
			margin-top: 0.5rem;
		}
	}

	.copyright {
		a {
			color: $link-color;
		}
	}
}
