html, body {
	height: 100%;
	width: 100%;
}

html {
	background-color: $background-color-dark;
	color: $text-color;
	font-size: $base-font-size;

	@include media( ">=phone", "<tablet" ) {
		font-size: $mobile-font-size;
	}
}

body {
	font-feature-settings: "liga";
	font-variant-ligatures: normal;
	min-height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, main, footer {
	@include flex-shrink( 0 );
}

main {
	@include flex-grow( 1 );

	@include media( ">desktop" ) {
		margin-top: 2.5rem;
	}

	@include media( "<desktop" ) {
		margin-top: 0;
	}
}

hr {
	border-color: $separator-color;
}

a {
	text-decoration: none;
}

.capitalize {
	text-transform: capitalize;
}

.separator {
	color: $separator-color;
}

.hidden {
	display: none;

	@include media( ">=phone", "<tablet" ) {
		display: flex;
	}
}
