.list-item-title {
	display: flex;
	justify-content: space-between;
	color: $green;
	font-weight: bold;

	&:hover {
		background: $background-color-darker;
	}
}

.list-item {
	width: 100%;
	display: flex;
	flex-flow: column;

	.list-item-subtitle {
		font-size: 0.8rem;
	}

	.list-item-separator {
		margin: 0 0.2rem;
		color: $separator-color;
	}

	.list-item-author {
		color: $red;
	}

	.list-item-date {
		color: $blue;
	}

	.list-item-content {
		width: 100%;
		padding: 0.5rem 1rem 0 1rem;
		font-size: $base-font-size-small;
		text-align: justify;
	}

	.list-item-read-more {
		margin-left: 1rem;
		margin-top: 0.5rem;
		color: $text-color;
		font-size: $base-font-size-small;
		font-weight: bold;

		&:hover {
			color: $yellow;
		}
	}

	hr {
		margin: 1rem 0;
	}
}

div.list {
	display: flex;
	flex-flow: row;
	width: 100%;

	section {
		width: 75%;
		margin-right: 1rem;
	}

	aside {
		width: 25%;
	}
}

