nav {
	margin: 0;
	background: $background-color;
	font-size: 1rem;

	&.navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.mobile-nav {
		cursor: pointer;
	}

	#navbar-logo-link {
		color: $red;
	}
}

.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	li {
		list-style: none;
		margin: 0 1px;

		a {
			color: $pink;
		}
	}

	li:hover {
		background: $background-color-darker;
	}
}
