nav {
	margin: 0;
	background: $background-color;
	font-size: 1rem;

	&.navbar {
		@include flexbox();
		@include flex-direction();
		@include align-items( center );
		@include justify-content( space-between );


		// mobile view
		@include media( ">=phone", "<=tablet" ) {
			@include flex-direction( column );
			@include align-items( flex-start );
		}
	}

	.mobile-nav {
		cursor: pointer;
	}

	#navbar-logo-link {
		color: $red;
	}

	a.media-toggle {
		display: none;
		@include flex-direction( column );
		@include justify-content( space-around );

		position: absolute;
		top: 1rem;
		right: 1rem;

		width: 1.4rem;
		height: 1.4rem;

		border: 1px solid $border-color;
		padding: 0.2rem;
		margin: 0;

		// mobile view
		@include media( ">=phone", "<=tablet" ) {
			@include flexbox();
		}

		@include media( ">=tablet" ) {
			top: 2rem;
			right: 1rem;
		}
	}

	.media-toggle .bar {
		height: 2px;
		width: 100%;
		background-color: $separator-color;
		border-radius: 10px;
	}

	.media-toggle-active {
		@include flexbox();
	}
}

.nav-links {
	@include flexbox();
	@include flex-direction();
	@include justify-content( space-evenly );

	li {
		list-style: none;
		margin: 0 1px;

		a {
			color: $pink;
		}
	}

	li:hover {
		background: $background-color-darker;
	}

	// mobile view
	@include media( ">phone", "<=tablet" ) {
		display: none;
		@include flex-direction( column );
		width: 100%;

		margin-top: 1rem;
		padding: 0.5rem;
		background-color: $background-color-darker;

		border: $border-size-thin solid $border-color;

		li{
			margin: 0.2rem 0;
			text-align: center;
		}

		.bracket {
			@include justify-content( space-between );
		}
	}
}




