div .sidebar {
	height: 100%;

	.bracket {
		justify-content: space-between;
	}

	.taxonomies {
		display: flex;
		flex-flow: row wrap;
		flex-direction: row;
		margin: 0.2rem 0.4rem;

		.taxonomy-tags {
			margin: 0.1rem ;
		}
	}

	.sidebar-taxonomy {
		margin: 0.5rem 0;
	}
}
