// base colors
$gray1     : #1b202a;
$gray2     : #232936;
$gray3     : #323c4d;
$gray4     : #51617d;
$gray5     : #9aa7bd;
$red       : #b15e7c;
$orange    : #b3785d;
$yellow    : #b5a262;
$green     : #709d6c;
$cyan      : #56adb7;
$blue      : #608cc3;
$purple    : #8f72bf;
$pink      : #c47ebd;

$colors: () !default;
$colors: map-merge(
	(
		"red"       : $red,
		"orange"    : $orange,
		"yellow"    : $yellow,
		"green"     : $green,
		"blue"      : $blue,
		"purple"    : $purple,
		"cyan"      : $cyan,
		"pink"      : $pink,
		"white"     : $gray5,
		"gray"      : $gray4,
		"gray-dark" : $gray2
	),
	$colors
);

// Separator
$separator-color: $gray4;

// background
$background-color-darker: $gray1;
$background-color-dark: $gray2;
$background-color-light: null;
$background-color: $background-color-dark;

// Typography
//
// font, color, headers, etc..
$base-font-size       : 22px;
$base-font-size-big   : 20px;
$base-font-size-small : 16px;

$text-color-light : $gray3;
$text-color-dark  : $gray5;
$text-color       : $text-color-dark;

$h1-text-size: $base-font-size * 2;
$h2-text-size: $base-font-size * 1.8;
$h3-text-size: $base-font-size * 1.6;
$h4-text-size: $base-font-size * 1.4;
$h5-text-size: $base-font-size * 1.2;
$h6-text-size: $base-font-size;

$h1-color: $green;
$h2-color: $blue;
$h3-color: $pink;
$h4-color: $red;
$h5-color: $orange;
$h6-color: $yellow;

h1 { font-size: $h1-text-size; color: $h1-color; }
h2 { font-size: $h2-text-size; color: $h2-color; }
h3 { font-size: $h3-text-size; color: $h3-color; }
h4 { font-size: $h4-text-size; color: $h4-color; }
h5 { font-size: $h5-text-size; color: $h5-color; }
h6 { font-size: $h6-text-size; color: $h6-color; }
p  { font-size: $base-font-size-small;  color: $text-color; }

$h1-color: $green;
$h2-color: $blue;
$h3-color: $pink;
$h4-color: $red;
$h5-color: $orange;
$h6-color: $yellow;

.blue   {  color: $blue;   }
.red    {  color: $red;    }
.yellow {  color: $yellow; }
.green  {  color: $green;  }
.cyan   {  color: $cyan;   }
.orange {  color: $orange; }
.purple {  color: $purple; }
.pink   {  color: $pink;   }


// Links
//
// Style anchor elements
$link-color            : $yellow;
$link-decoration       : none !default;
$link-hover-color      : darken( $link-color, 15% ) !default;
$link-hover-decoration : underline !default;


// Borders
//
// Style borders
$border-color-dark  : $gray4;
$border-color-light : null;
$border-base-size   : 2px !default;
$border-size-thin   : $border-base-size;
$border-size-thick  : $border-base-size * 2;
