@import 'fonts';
@import 'variables';
@import 'container';
@import 'navbar';
@import 'bracket';
@import 'sidebar';
@import 'notfound';
@import 'footer';

// component styles
@import 'components/taxonomy';
@import 'components/goToTop';
@import 'components/socialLinks';
@import 'components/title';
@import 'components/post-navigation';
@import 'components/table-of-contents';
@import 'components/sidebar-layout';

// layout styles
@import 'layouts/defaults/single';
@import 'layouts/defaults/list';
@import 'layouts/archive/list';

// markdown styles
@import 'markdown/heading';
@import 'markdown/image';
@import 'markdown/link';
@import 'markdown/blockquote';
@import 'markdown/table';
@import 'markdown/lists';
@import 'markdown/quote';
@import 'markdown/code';
@import 'markdown/footnotes';

html, body {
	height: 100%;
	width: 100%;
}

html {
	background-color: $background-color-dark;
	color: $text-color;
	font-size: $base-font-size;
}

body {
	font-feature-settings: "liga";
	font-variant-ligatures: normal;
	min-height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, main, footer {
	flex-shrink: 0;
}

main {
	margin-top: 2.5rem;
	flex-grow: 1;
}

hr {
	border-color: $separator-color;
}

a {
	text-decoration: none;
}

.capitalize {
	text-transform: capitalize;
}

.separator {
	color: $separator-color;
}

